<div class="">
    <h3>List of Players</h3>
    {{message}}
    <br />
    <a href="#/AddPlayer" class="btn btn-primary">Add Player</a>
    <br />
    <br />
    <table class="table table-bordered table-condensed table-striped table-hover table-responsive">
        <thead>
            <tr>
                <th></th>
                <!--<th><a ng-click="OrderGrid('PlayerId')" class="btn btn-link btn-sm"><b>Player Id</b>&nbsp;<span ng-class="GridOrderedName" /></a></th>-->
                <th><a ng-click="OrderGrid('Name')" class="btn btn-link btn-sm"><b>Name</b>&nbsp;<span ng-class="GridOrderedName" /></a></th>
                <th><a ng-click="OrderGrid('Club')" class="btn btn-link btn-sm"><b>Club</b>&nbsp;<span ng-class="GridOrderedClub" /></a></th>
                <th><a ng-click="OrderGrid('Country')" class="btn btn-link btn-sm"><b>Country</b>&nbsp;<span ng-class="GridOrderedCountry" /></a></th>
                <th><a ng-click="OrderGrid('Age')" class="btn btn-link btn-sm"><b>Age</b>&nbsp;<span ng-class="GridOrderedAge" /></a></th>
                <th></th>
            </tr>
            <tr>
                <td></td>
                <!--<td></td>-->
                <td><input type="text" class="form-control input-sm" ng-model="newPlayer.Name" /></td>
                <td><input type="text" class="form-control input-sm" ng-model="newPlayer.Club" /></td>
                <td><input type="text" class="form-control input-sm" ng-model="newPlayer.Country" /></td>
                <td><input type="text" class="form-control input-sm" ng-model="newPlayer.Age" /></td>
                <td><a href="" ng-click="AddNewPlayer()" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-plus"></span></a>&nbsp;<a href="" ng-click="" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-refresh" /></a></td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="player in players">
                <td><b>{{$index+1}}</b></td>
                <!--<td>{{player.PlayerId}}</td>-->
                <td><input type="text" class="form-control input-sm" ng-model="player.Name"/></td>
                <td><input type="text" class="form-control input-sm" ng-model="player.Club" /></td>
                <td><input type="text" class="form-control input-sm" ng-model="player.Country" /></td>
                <td><input type="text" class="form-control input-sm" ng-model="player.Age" /></td>
                <td><a href="#/EditPlayer/{{player.PlayerId}}" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-edit"></span></a>&nbsp;<a href="" ng-click="DeletePlayer(player.PlayerId, $index)" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-trash" /></a></td>
            </tr>
        </tbody>
        <tfoot>
            <tr><td colspan="7"><a href="#" class="btn btn-default btn-xs"><small>1</small></a></td></tr>
        </tfoot>
    </table>
</div>
